<% include partials/_header %>
    <body>
        <nav class="navbar navbar-dark bg-dark mb-4">
             <a class="navbar-brand" href="#">login</a>
        </nav>

    <div class="login-vice">
          <h1>wiiiii</h1>
          <form action="/login" method="post"> <br>
        
              <label for="username">rudoc</label>
              <input name="rudoc" type="text" placeholder="inserte su RUDOC" required autofocus > <br>
              <label for="contraceña">CI</label>
              <input name="ci" type="text"placeholder="Inserte su CI"> <br>
              <input type="submit" value="Entrar">
      
          </form>
      </div>
  
  </body>
