<% include partials/_header %>

<body>

  <nav class="navbar navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Listar Guias</a>
  </nav>

  <div class="col-md-12">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Nº</th>
          <th>Materia</th>
          <th>Calificacion</th>
          <th>Estado</th>
          <th>Estudiante</th>
          
        </tr>
      </thead>
      <tbody>
        
          


      </tbody>

    </table>

  </div>


</body>
